<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style/base.css')}}">
    {% block link %}{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

</head>
<body>
    <div id="content">
        <canvas id="matrix"></canvas>
        
        <script>    // put all script tags in proper js files
            const canvas = document.getElementById("matrix");
            const ctx = canvas.getContext("2d");

            canvas.width = window.innerWidth;
            canvas.height = window.innerHeight; // to cover fullscreen too, figure out a less "juakali" way

            const letters = "WelcomeToChatApp";
            const fontSize = 16;
            const columns = canvas.width / fontSize;
            const drops = Array(Math.floor(columns)).fill(1);

            function draw() {
                ctx.fillStyle = "rgba(0,0,0,0.05)";
                ctx.fillRect(0, 0, canvas.width, canvas.height);

                ctx.fillStyle = "#F00";
                ctx.font = fontSize + "px monospace";

                drops.forEach((y, i) => {
                    const text = letters[Math.floor(Math.random() * letters.length)];
                    ctx.fillText(text, i * fontSize, y * fontSize);
                    drops[i] = y * fontSize > canvas.height + 10 && Math.random() > 0.975 ? 0 : y + 0.5;
                });
            }

            setInterval(draw, 33);
        </script>
        <!--
        <button id="fullscreen">Enter Fullscreen</button>
        <script>
            
            const btn = document.getElementById("fullscreen")
            const content = document.getElementById("content")

            btn.addEventListener("click", () => {
                if (!document.fullscreenElement){
                    content.requestFullscreen();
                } else {
                    content.exitFullscreen();
                }
            });

        </script>
        -->
        {% block content %}{% endblock %}
    </div>
</body>
</html>