{% extends 'base.html' %}
{% block link %}
<link rel="stylesheet" href="{{url_for('static', filename='style/home.css')}}">
{% endblock %}
{% block content %}
<form method="post" class="welcome">
    <h2><strong>Enter Chat Room</strong></h2>

    <div class="join"> <!-- I'm yet to figure out how to make it all look uniform-->
        <textarea name="username" placeholder="Enter a username..." value="{{username}}"></textarea>
    </div>

    <div class="join"> <!-- I'm yet to figure out how to make it all look uniform-->
        <input type="password" name="password" placeholder="Enter your password..." id="password">
        <button type="submit" name="create">Create Room</button>
    </div>

    <div class="join">
        <textarea name="code" placeholder="Enter a Room Code..." value="{{code}}"></textarea>
        <button type="submit">Join Room</button>
    </div>

    {% if note %}
    <ul>
        <li id="note">{{note}}</li>
    </ul>
    {% endif %}
    {% if error %}
    <ul>
        <li id="error">{{error}}</li>
    </ul>
    {% endif %}

</form>
{% endblock %}